<section>
  <div
    class="px-8 py-12 md:px-12 mx-auto lg:pb-24 max-w-7xl lg:px-32"
  >
    <div class="relative bg-black p-8 lg:p-20">
      <h2
        class="mx-auto text-center text-3xl lg:text-8xl font-light font-display text-white"
      >
        Connect with Me !
      </h2>
      <p class="mt-6 mx-auto text-center text-lg font-medium text-gray-400 max-w-xl">
        This blog is a personal space where I document my creative vision, purely for myself and the joy of expression.
      </p>
      <div class="flex mt-12 justify-center gap-4">
        <!-- YouTube Button -->
        <a
          href="https://www.youtube.com/@arjitdidwhat/featured"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center justify-center px-6 py-2 text-sm text-black bg-white rounded-full border duration-300 hover:bg-white/10 hover:text-white ring-1 ring-transparent focus:ring-2 focus:ring-offset-2 focus:ring-black"
        >
           Youtube
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="ml-2 h-auto w-4"
          >
            <path
              d="M10 15l5-3-5-3v6zm12-3c0 1.65-.13 2.84-.37 3.77-.24.93-.58 1.63-.95 2.1-.37.47-.85.84-1.45 1.05-.6.21-1.32.33-2.15.37-1.11.06-3.18.08-6.13.08s-5.02-.02-6.13-.08c-.83-.04-1.55-.16-2.15-.37-.6-.21-1.08-.58-1.45-1.05-.37-.47-.71-1.17-.95-2.1-.24-.93-.37-2.12-.37-3.77s.13-2.84.37-3.77c.24-.93.58-1.63.95-2.1.37-.47.85-.84 1.45-1.05.6-.21 1.32-.33 2.15-.37 1.11-.06 3.18-.08 6.13-.08s5.02.02 6.13.08c.83.04 1.55.16 2.15.37.6.21 1.08.58 1.45 1.05.37.47.71 1.17.95 2.1.24.93.37 2.12.37 3.77z"
            />
          </svg>
        </a>

        <!-- Instagram Button -->
        <a
          href="https://www.instagram.com/arjitdidwhat/"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center justify-center px-6 py-2 text-sm text-white bg-pink-500 rounded-full border duration-300 hover:bg-pink-600 focus:ring-2 focus:ring-offset-2 focus:ring-pink-400"
        >
           Instagram
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="ml-2 h-auto w-4"
          >
            <path
              d="M7.5 2C4.46 2 2 4.46 2 7.5v9c0 3.04 2.46 5.5 5.5 5.5h9c3.04 0 5.5-2.46 5.5-5.5v-9C22 4.46 19.54 2 16.5 2h-9zm9 1.5h.38c1.63.05 2.8.77 3.37 1.34.57.57 1.29 1.74 1.34 3.37v.38H16c-2.21 0-4 1.79-4 4v4H3.5v-9c0-2.63 2.12-4.77 4.77-4.88H7.5zm4.5 4c1.5 0 2.72 1.22 2.72 2.72 0 1.5-1.22 2.72-2.72 2.72-1.5 0-2.72-1.22-2.72-2.72C12.28 9.22 13.5 8 15 8z"
            />
          </svg>
        </a>

        <!-- Blog Link -->
        <a
          href="https://arjit-32.github.io/"
          class="inline-flex items-center justify-center px-6 py-2 text-sm text-white bg-green-500 rounded-full border duration-300 hover:bg-green-600 focus:ring-2 focus:ring-offset-2 focus:ring-green-400"
        >
          Visit Portfolio
        </a>
      </div>
    </div>
  </div>
</section>
